body{
    margin: 0px;
    padding: 0px;
    font-family: 'Bebas Neue', sans-serif;
    background: url('/pexels-ben-taylor-109998.jpg');
    background-size: 100% 100%;
    /* height: 4000px;    */
    color: aliceblue;
}
.left{
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 60px;
    top: 12px;
}

.right{
    
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    right: 45px;
    top: 43px;
}
.mid{
    
    display: block;
    width: 36%;
    margin: 29px auto;
    /* border: 2px solid red; */
}
.navbar{
    display: inline-block;
    /* font-size: medium; */
}
.navbar li{
    display: inline-block;
    font-size: 20px;
    /* font-size: 25px; */
}
.navbar li a{
    color: antiquewhite;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: rgb(167, 1, 167);
}
.left img{

    width: 70px;
    filter: invert(100%);
}
.left{
    line-height: block;
    font-size: 26px;
    /* font-size: small; */
    text-align: center;
}
.btn{
    font-family: 'Bebas Neue', sans-serif;
    margin: 0px 9px;
    color: antiquewhite;
    background-color: rgb(137, 0, 179);
    padding: 4px 30px;
    border: 2px solid navy;
    border-radius: 5px;
    font-size: 13px;
}
.btn:hover{
    background-color: rgb(76, 3, 245);
}
.content{
    border: 2px solid white;
    margin: 106px 80px;
    padding: 50px;
    width: 33%;
    /* display: block; */
    border-radius: 28px;
}
.details input{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    display: block;
    width: 400px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 20px;
    border-radius: 8px;
}
.content button{
    display: block;
    width: 90%;
    margin: 30px auto;
    font-size: 20px;
}
.content h1{
    text-align: center;
}
