body{
    margin: 0px;
    padding: 0px;
    font-family: 'Bebas Neue', sans-serif;
    background: url('/pexels-ben-taylor-109998.jpg');
    /* height: 4000px;    */
    color: aliceblue;
}
.left{
    display: inline-block;
    border: 2px solid red;
    position: absolute;
    left: 60px;
    top: 12px;
}

.right{
    display: inline-block;
    border: 2px solid red;
    position: absolute;
    right: 45px;
    top: 12px;
}
.mid{
    display: block;
    width: 36%;
    margin: 12px auto;
    border: 2px solid red;
}
.navbar{
    display: inline-block;
    /* font-size: medium; */
}
.navbar li{
    display: inline-block;
    font-size: 20px;
    /* font-size: 25px; */
}
.navbar li a{
    color: antiquewhite;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: darkmagenta;
}
.left img{

    width: 70px;
    filter: invert(100%);
}
.left{
    line-height: block;
    font-size: 26px;
    /* font-size: small; */
    text-align: center;
}
.btn{
    font-family: 'Bebas Neue', sans-serif;
    margin: 0px 9px;
    color: antiquewhite;
    background-color: rgb(133, 0, 173);
    padding: 4px 14px;
    border: 2px solid navy;
    border-radius: 10px;
    font-size: 13px;
}
.btn:hover{
    background-color: rgb(76, 3, 245);
}
.content{
    border: 2px solid green;
}
